.satuki1F {
    position: relative;
    max-width: 500px; /* 画像とコンテナの最大幅を設定 */
    margin: 0 auto; /* 中央寄せ */
}

.satuki1F .background-image {
    width: 100%;
    max-width: 100%; /* 最大幅に従う */
    height: auto; /* 縦横比を保持 */
}

/* 共通のボタンスタイル */
.satuki1F .btn {
    position: absolute;
    color: white;
    background-color: #d39165;
    transform: translate(-50%, -50%);
}

/* 各ボタンの位置とサイズ */
#btn-3101 {
    background-color: #905c54;
    width: 100px; 
    height: 100px;
    top: 90%;
    left: 55%;
}

#btn-3102 {
    width: 80px; 
    height: 80px;
    top: 56%;
    left: 76%;
}

#btn-3102B {
    width: 80px;
    height: 80px;
    top: 43%;
    left: 76%;
}

#btn-3103 {
    width: 85px;
    height: 85px;
    top: 29%;
    left: 76%;
}

#btn-3104 {
    width: 85px;
    height: 85px;
    top: 15%;
    left: 76%;
}

#btn-Arena {
    background-color: #905c54;
    width: 100px;
    height: 100px;
    top: 70%;
    left: 17%;
}

#btn-Hall {
    position: absolute;
    background-color: #9ad6e9;
    color: white;
    width: 95px;
    height: 50px;
    top: 77%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}

#btn-hina1f {
    position: absolute;
    background-color: #81da4e;
    color: white;
    width: 80px;
    height: 100px;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}

#btn-iStudio {
    position: absolute;
    background-color: #949291;
    color: white;
    width: 95px;
    height: 143px;
    top: 40%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指  定 */
}


#btn-Study {
    position: absolute;
    background-color: #949291;
    border-color: #444444;
    color: white;
    width: 95px;
    height: 143px;
    top: 18%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}

#btn-Lounge {
    position: absolute;
    background-color: #da97c0;
    color: white;
    width: 95px;
    height: 50px;
    top: 29%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* 文字サイズを指定 */
}

.slide-panel {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show {
    top: 70%;
}

.slide-panel2 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show2 {
    top: 70%;
}

.slide-panel3 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show3 {
    top: 70%;
}

.slide-panel4 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show4 {
    top: 70%;
}


.slide-panel5 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show5 {
    top: 70%;
}

.slide-panel6 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show6 {
    top: 70%;
}

.slide-panel7 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show7 {
    top: 70%;
}

.slide-panel8 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show8 {
    top: 70%;
}

.slide-panel9 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show9 {
    top: 70%;
}

.slide-panel10 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show10 {
    top: 70%;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7); /* 初期状態の影 */
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 123, 255, 0); /* 波が広がるエフェクト */
    }
}


@keyframes wave2 {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 187, 0, 0.7); /* 初期状態の影 */
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 123, 255, 0); /* 波が広がるエフェクト */
    }
}


@keyframes wave3 {
    0% {
        box-shadow: 0 0 0 0 rgba(94, 255, 0, 0.7); /* 初期状態の影 */
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 123, 255, 0); /* 波が広がるエフェクト */
    }
}
