.satuki2F {
    position: relative;
    max-width: 500px; /* 画像とコンテナの最大幅を設定 */
    margin: 0 auto; /* 中央寄せ */
}

.satuki2F .background-image {
    width: 100%;
    max-width: 100%; /* 最大幅に従う */
    height: auto; /* 縦横比を保持 */
}

/* 共通のボタンスタイル */
.satuki2F .btn {
    position: absolute;
    color: white;
    background-color: #d39165;
    border-color: #493223;
    transform: translate(-50%, -50%);
}

/* 各ボタンの位置とサイズ */
#btn-35 {
    width: 100px; 
    height: 100px;
    top: 41%;
    left: 19%;
}

#btn-312 {
    width: 100px;
    height: 100px;
    top: 70%;
    left: 19%;
}

#btn-teacher {
    width: 85px;
    height: 85px;
    top: 52%;
    left: 81%;
}

#btn-367 {
    width: 100px;
    height: 100px;
    top: 20%;
    left: 79%;
}

#btn-seminar {
    width: 90px;
    height: 90px;
    top: 18%;
    left: 49.5%;
    font-size: 16px; /* 文字サイズを指定 */
}
#btn-zimu{
    width: 78px;
    height: 78px;
    top: 78%;
    left: 79%;
    font-size: 16px; /* 文字サイズを指定 */
}
#btn-kixyu{
    width: 50px;
    height: 50px;
    top: 30%;
    left: 49%;
}
#btn-kixyu2{
    width: 90px;
    height: 90px;
    top: 62%;
    left: 49%;
    font-size: 11px; /* 文字サイズを指定 */
}
#btn-kixyu3{
    width: 70px;
    height: 70px;
    top: 74%;
    left: 49%;
}
#btn-hina1f {
    position: absolute;
    background-color: #81da4e;
    border-color: #548836;
    color: white;
    width: 80px;
    height: 100px;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}

#btn-35 {
    position: absolute;
    background-color: ##da97c0;
    border-color: #444444;
    color: white;
    width: 95px;
    height: 95px;
    top: 38%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}


#btn-Fab {
    position: absolute;
    background-color: #949291;
    border-color: #444444;
    color: white;
    width: 95px;
    height: 143px;
    top: 77%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 13px; /* 文字サイズを指定 */
}

#btn-Lounge1 {
    position: absolute;
    background-color: #da97c0;
    border-color: #58414f;
    color: white;
    width: 53px;
    height: 65px;
    top: 58%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* 文字サイズを指定 */
}

#btn-Lounge2 {
    position: absolute;
    background-color: #da97c0;
    border-color: #58414f;
    color: white;
    width: 86px;
    height: 65px;
    top: 58%;
    left: 67.5%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* 文字サイズを指定 */
}