.kasaneru{
    position: relative;
}

.kasaneru p{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    left: 50%;
   -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
    color: #fff;
    font-size: 1.8rem;
    margin: 0!important;/*文字がずれている場合や*/
    padding: 0!important;/*文字が折り返される場合*/
  }

.slide-panel {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show {
    top: 70%;
}

.slide-panel1 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show1 {
    top: 70%;
}


.slide-panel2 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show2 {
    top: 70%;
}


.slide-panel3 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show3 {
    top: 70%;
}