.satuki2F {
    position: relative;
    max-width: 500px; /* 画像とコンテナの最大幅を設定 */
    margin: 0 auto; /* 中央寄せ */
}

.satuki2F .background-image {
    width: 100%;
    max-width: 100%; /* 最大幅に従う */
    height: auto; /* 縦横比を保持 */
}

/* 共通のボタンスタイル */
.satuki2F .btn {
    position: absolute;
    color: white;
    background-color: #d39165;
    border-color: #493223;
    transform: translate(-50%, -50%);
}

/* 各ボタンの位置とサイズ */
#btn-3201 {
    width: 80px; 
    height: 80px;
    top: 70%;
    left: 71%;
}

#btn-3202A {
    width: 80px;
    height: 80px;
    top: 45%;
    left: 77%;
}

#btn-3202B {
    width: 85px;
    height: 85px;
    top: 31%;
    left: 77%;
}

#btn-3203 {
    width: 85px;
    height: 85px;
    top: 17%;
    left: 77%;
}

#btn-3204 {
    width: 85px;
    height: 85px;
    top: 17%;
    left: 50%;
}

#btn-hina1f {
    position: absolute;
    background-color: #81da4e;
    border-color: #548836;
    color: white;
    width: 80px;
    height: 100px;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}

#btn-Sand {
    position: absolute;
    background-color: #949291;
    border-color: #444444;
    color: white;
    width: 95px;
    height: 143px;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* 文字サイズを指定 */
}


#btn-Fab {
    position: absolute;
    background-color: #949291;
    border-color: #444444;
    color: white;
    width: 95px;
    height: 143px;
    top: 77%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 13px; /* 文字サイズを指定 */
}

#btn-Lounge1 {
    position: absolute;
    background-color: #da97c0;
    border-color: #58414f;
    color: white;
    width: 53px;
    height: 65px;
    top: 58%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* 文字サイズを指定 */
}

#btn-Lounge2 {
    position: absolute;
    background-color: #da97c0;
    border-color: #58414f;
    color: white;
    width: 86px;
    height: 65px;
    top: 58%;
    left: 67.5%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* 文字サイズを指定 */
}


.slide-panel {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show {
    top: 70%;
}

.slide-panel2 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show2 {
    top: 70%;
}

.slide-panel3 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show3 {
    top: 70%;
}

.slide-panel4 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show4 {
    top: 70%;
}


.slide-panel5 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show5 {
    top: 70%;
}

.slide-panel6 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show6 {
    top: 70%;
}

.slide-panel7 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show7 {
    top: 70%;
}

.slide-panel8 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show8 {
    top: 70%;
}

.slide-panel9 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show9 {
    top: 70%;
}

.slide-panel10 {
    position: fixed;
    top: 150%;
    transform: translateY(-50%);
    width: 300%;
    height: 50%; /* Add this line to change the height */
    max-height: 50%; /* 固定高さ設定 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    overflow-y: auto; /* 垂直スクロールを有効にする */
}

.slide-panel.show10 {
    top: 70%;
}